@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700,900|Roboto:300,400,500,700');

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

body {
  line-height: 26px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #777777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Main Title Area css */
.main_title {
  text-align: center;
  max-width: 670px;
  margin: 0px auto 75px;
}
.main_title h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 36px;
  color: #222222;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.main_title p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 26px;
  color: #777777;
  margin-bottom: 0px;
}

/* End Main Title Area css */
